/*--------------------------AVISOS DE PRIVACIDAD  TERMINOS Y CONDICIONES----------------------------*/

*{
    font-size: 1rem;
}
#cajaAvisos{
    padding: 50px;
    text-align: left;
    border: 1px solid #2b2b2b;
}

.avisos{
    font-size: 1rem;
}
    .avisos h1{
        text-align: center;
        font-size: 4rem;
        margin-bottom: 50px;
    }